.project-card {
    color: inherit;
    text-decoration: none;
}

.project-card:hover .card-text {
    color: #000;
}

.project-task .project-task-delete-button {
    display: none;
}

.project-task:hover .project-task-delete-button {
    display: inline;
}

.activity-feed {
    padding: 15px;
}
.activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 1px solid #0d6efd;
}
.activity-feed .feed-item:last-child {
    border-color: transparent;
}
.activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #0d6efd;
}
.activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
}
.activity-feed .feed-item .text {
    position: relative;
    top: -3px;
}

.avatar {
    margin-left: -15px;
    border: 2px solid white;
    border-radius: 50%;
}

.avatar:hover {
    z-index: 10;
}
